<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{common/hearder :: HeaderFragment}"></header>
<main id="main" class="main">

    <div class="pagetitle">
        <nav>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form id="boardForm" th:action="@{/board/insertBoard.do}"  th:object="${BoardVo}" method="post" >
                        <div id ="formDiv" class="card-body">
                                <div class="form-group">
                                    <label for="title">제목</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">작성자</label>
                                    <input type="text" class="form-control" id="writer" name="writer">
                                </div>
                                <div class="form-group">
                                    <label for="content">내용</label>
                                    <textarea style="height: 400px;" class="form-control" id="content" name="content"></textarea>
                                </div>
                                <br>
                                <div id="buttonDiv">
                                    <button style="float: right;" type="button" id="insertBtn" class="btn btn-primary">등록</button>
                                </div>
                                <br>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(function(){

            $("#insertBtn").click(function(){
                let check = checkForm();
                if(check) {
                    $("#boardForm").submit();
                }
            });//click

            function checkForm() {
                if($("#title").val() == null || $("#title").val() == '') {
                    alert("제목 작성 필수입니다.");
                    return false;
                }
                if($("#title").val().length > 50) {
                    alert("제목 최대 작성 길이 50입니다.");
                    return false;
                }
                if($("#writer").val() == null || $("#writer").val() == '') {
                    alert("작성자 작성 필수입니다.");
                    return false;
                }
                if($("#content").val() == null || $("#content").val() == '') {
                    alert("내용 작성 필수입니다.");
                    return false;
                }
                if($("#content").val().length > 200) {
                    alert("내용 최대 작성 길이 200입니다.");
                    return false;
                }
                if($("#writer").val() == null || $("#content").val() == '') {
                    alert("작성자 작성 필수입니다.");
                    return false;
                }
                return true;
            };

        });//ready
    </script>
</main><!-- End #main -->
<footer th:replace="~{common/footer :: FooterFragment}"></footer>
</body>
</html>